<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Annotated mapping classes -->
		<mapping class="com.samsonych.jwp.model.Comment" />
		<mapping class="com.samsonych.jwp.model.CommentMeta" />
		<mapping class="com.samsonych.jwp.model.Link" />
		<mapping class="com.samsonych.jwp.model.Option" />
		<mapping class="com.samsonych.jwp.model.Post" />
		<mapping class="com.samsonych.jwp.model.PostMeta" />
		<mapping class="com.samsonych.jwp.model.Term" />
		<mapping class="com.samsonych.jwp.model.Taxonomy" />
		<mapping class="com.samsonych.jwp.model.User" />
		<mapping class="com.samsonych.jwp.model.UserMeta" />
	</session-factory>
</hibernate-configuration>
